@import "@tailfire/ui-public/globals.css";

/* Client portal-specific styles */
.dashboard-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dashboard-scrollbar::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.2);
}

.dashboard-scrollbar::-webkit-scrollbar-thumb {
  background: #c59746;
  border-radius: 4px;
}

.dashboard-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b1481a;
}
